@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&family=Rubik:ital@1&display=swap');

body {
    background: #fde994;
    font-family: 'rubik', sans-serif;
    color: #83580b;
    
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
