@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&family=Rubik:ital@1&display=swap');

*{
    background: #fde994;
    font-family: 'rubik', sans-serif;
    color: #83580b;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: x-large;
    margin-top: 10px;
    gap: 10px;
}
button {
    padding: 20px;
    border-radius: 10px;
    background: #83580b;
    color: #fde994;
    font-size: xx-large;
    flex: 1;
}
.gameResult {
    font-size: xx-large;
    background: #d9b650;
}